body {
    margin-top: 105px;
    background-color: #e8e8e8;
}

.container{  
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 147px;
}

.backgroundLines {
    
    width: 1190px;
    height: 1064px;
    display: block;
    position: relative;
    margin: auto;
}

.backgroundLines::after {
    content: "";
    background: url('ellipse_1_copy_4.png') 50% 0 no-repeat;
    opacity: 0.24;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.header {
    max-width: 841px;
    margin: 60px auto;
    padding: 21px 59px 0;
}

h1 {
    text-align: center;
    font-size: 36px;
    line-height: 50px;
    color: #273d46;
}

h6 {
    text-align: center;
    font-size: 14px;
    color: #273d46;
    opacity: 0.6;
    font-family: Arial;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

/*------------------------Picture------------------------*/

.man {
    outline: 10px solid white;
    box-shadow: 0px 15px 65px 0px rgba(15,16,16,0.15);
}

.pic {
    margin: 106px 37.5px;
    border-color: #273d46;
}

/*------------------------Text Under Picture------------------------*/

.section {
    max-width: 740px;
    margin: auto;
}

.text{

    max-width: 739px;
    font-size: 24px;
    line-height: 40px;
    font-weight: 400;
    color: #273d46;
    opacity: 0.8;
    margin-bottom: 60px;
}

/*------------------------List------------------------*/

.list {
    margin-bottom: 60px;
}

.list li  {
    background: url('check_icon_39.png') left no-repeat;
    padding: 0 0 0 37px;
}

.list li:first-child {
    font-family: Arial;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    color: #273d46;
    transition: color 0.2s linear;
}

.list li:nth-child(2) {
    font-family: Arial;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    font-style: italic;
    color: #80b7b3;
    transition: color 0.2s linear;
}

.list li:nth-child(3) {
    font-family: Arial;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #273d46;
    transition: color 0.2s linear;
}

.list li:last-child {
    opacity: 0.3;
    font-family: Arial;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    text-decoration: line-through;
    color: #273d46;
    transition: color 0.2s linear;
}

.list li:first-child:hover, .list li:nth-child(2):hover, .list li:nth-child(3):hover, .list li:last-child:hover {
    color:rgb(255, 148, 129)
}

/*------------------------Button------------------------*/

button {
    background-color: #80b7b3;
    width: 199px;
    height: 44px;
    box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.54);
    border-radius: 20px;
    margin-bottom: 60px;
    transition: background-color 0.15s linear, box-shadow 0.2s linear;
   
}

button:hover {
    background-color:#2e5755;
    box-shadow: 0px 6px 40px 0px rgba(57, 241, 226, 0.54)
}

button:active {
    background-color: grey;
    box-shadow: none;
}

.textbutton {
    font-family: Arial;
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    padding-top: 1px;
}

.arrow {
    padding: 12px 0 0 15px ;
}